/* import poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

/* layout style*/
:root{
  --primary:#1aac83;
  --error:#e7195a
}

body{
  background-color: #f1f1f1;
  margin: 0;
  font-family:'Poppins';
}
header{
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a{
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto
}
span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 50%;
  color: #333;
}